
*{
    -fx-font-family: Calibri;
}
.Header{
    -fx-background-color: #FEFEFE;
}

.DashBoardBodyTitle_lbl{
    -fx-text-fill: #efecec;
    -fx-font-size: 27px;
    -fx-font-weight: bold;
}

.HeaderTitle{
    -fx-font-size: 22px;
}

.EmailHeader{
    -fx-font-size: 17px;
}

.NewDoc_BTN{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-font-family: Calibri;
    -fx-padding: 0 5px 0 15px;
    /*-fx-border-color: black; !* Màu viền *!*/
    /*-fx-border-width: 1px; !* Độ dày viền *!*/
    /*-fx-border-radius: 20px; !* Độ bo tròn các góc *!*/
    -fx-background-radius: 20px;
}

.SearchBox_TXT{
    -fx-background-color: #FEFEFE;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill: #5e5b5b ;
    -fx-padding: 0 10px 0 0 ;
    -fx-font-size: 17px;
}

.FolderIcon{
    -fx-border-color: #efecec;
    -fx-border-width: 1px; /* Độ dày viền */
    -fx-border-radius: 20px;
}

.Tags{
    -fx-background-radius: 5px;
    -fx-text-fill: #efecec;
    -fx-font-weight: bold;
    -fx-font-size: 19px;
    -fx-min-width: 80px;
    -fx-min-height: 33px;
}

.SideBarTitle_LBL{
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-font-family: Calibri;
}

.NormalContent_LBL{
    -fx-font-family: Calibri;
    -fx-font-size: 19px;
    -fx-text-fill: #eeeeee;
}

.LinkChain_ICON{
    -fx-fill: #efecec;
}

.Arrange_ICON{
 -fx-opacity: 0.8;
}

/*.check-box .box {*/
/*    -fx-background-color: white;*/
/*}*/
