.demo1 {
    -fx-border-color: linear-gradient(to right, #3BB2B8, #42E695);
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
    -fx-background-color: #444444;
    -fx-background-radius: 20px;
}
.demo1:hover {
    -fx-border-color: linear-gradient(to right, #42E695, #3BB2B8);
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
    -fx-background-color: #1C1C1C;
    -fx-background-radius: 20px;
}
.demo1:pressed {
    -fx-background-color: #1c1c1c; /* Darker background */
    -fx-text-fill: lightgray; /* Subtle text color change */
}
.demo2{
    -fx-border-color: linear-gradient(to right, #17EAD9, #6078EA);
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
    -fx-background-color: #444444;
    -fx-background-radius: 20px;
}
.demo3{
    -fx-border-color: linear-gradient(to right, #F54EA2, #FF7676);
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
    -fx-background-color: #444444;
    -fx-background-radius: 20px;
}
.demo3:hover {
    -fx-border-color: linear-gradient(to right, #FF7676, #F54EA2);
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
    -fx-background-color: #1C1C1C;
    -fx-background-radius: 20px;
}
.demo3:pressed {
    -fx-background-color: #1c1c1c; /* Darker background */
    -fx-text-fill: lightgray; /* Subtle text color change */
}
.demo4{
    -fx-border-color: linear-gradient(to right, #F02FC2, #6094EA);
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
    -fx-background-color: #444444;
    -fx-background-radius: 20px;
}

.demo4:hover {
    -fx-border-color: linear-gradient(to right, #6094EA, #F02FC2);
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-background-color: #1C1C1C;
    -fx-background-radius: 20px;
}
.demo4:pressed {
    -fx-background-color: #1c1c1c; /* Darker background */
    -fx-text-fill: lightgray; /* Subtle text color change */
}
.login{
    -fx-background-color: linear-gradient(to right, #F869D5, #5650DE);
    -fx-background-radius: 20px;
}
.login:hover{
    -fx-background-color: linear-gradient(to left, #F869D5, #5650DE);
    -fx-background-radius: 20px;
}
.login:pressed{
    -fx-text-fill: lightgrey;
}


.userpass{
    -fx-border-color: linear-gradient(to right, #7BF2E9, #B65EBA);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-color: #1C1C1C;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}
.doc{
    -fx-text-fill: linear-gradient(to right, #FF7676, #F54EA2);
    -fx-background-color: #000000;
    -fx-background-size: 200;
    -fx-background-radius: 20px;
}
.up:hover{
    -fx-border-color: linear-gradient(to right, #7BF2E9, #B65EBA);
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-color: #white;
    -fx-background-radius: 20px;
}
.dark:hover{
    -fx-background-color:  #000000;
    -fx-background-radius: 15px;
    -fx-border-color: #000000 ;
    -fx-min-width:120px
}
.clear{
    -fx-background-color:  #909090;
    -fx-background-radius: 20px;
}
.clear:hover{
    -fx-background-color:  #1c1c1c;
    -fx-background-radius: 20px;
}
.delete:hover{
    -fx-background-color:  #880000;
    -fx-background-radius: 20px;
}
.restore{
    -fx-background-color:  #257AC5;
    -fx-background-radius: 20px;
}
.restore:hover{
    -fx-background-color:  #00008B;
    -fx-background-radius: 20px;

}
.userpass:hover{
    -fx-border-color: linear-gradient(to left, #7BF2E9, #B65EBA);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-color: #1C1C1C;
    -fx-background-radius: 20px;
}